@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    font-size: 2em;
    text-transform: capitalize;
  }

  h2 {
    font-size: 1.5em;
    text-transform: capitalize;
  }

  h3 {
    font-size: 1.25em;
    text-transform: capitalize;
  }

  h4 {
    font-size: 1em;
    text-transform: capitalize;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
